.feature i {
  color: #f75e4f;
  font-size: 2em;
}

#projectsHeader {
  text-align: center;
  margin-bottom: 70px;
  font-size: 90px;
}

#skillsandtech {
  margin: 75px;
  text-align: center;
}

#skillz {
  margin-bottom: 50px;
}

#viewBeep {
  margin-left: 70px;
  margin-top: 25px;
}

#viewDesiderata {
  margin-left: 55px;
  margin-top: 25px;
}

#viewAT {
  margin-left: 45px;
  margin-top: 25px;
}
